<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/materialize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav>
    <div class="nav-wrapper blue">
        <a href="#" class="brand-logo center">24h2k18</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Accueil</a></li>
            <li><a href="badges.html">Exemple</a></li>
            <li><a href="collapsible.html">Contact</a></li>
            {% if app.user %}
                <li><a href="{{ path('security_logout') }}" class="waves-effect waves-light btn white grey-text text-darken-3">déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('security_login') }}" class="waves-effect waves-light btn white grey-text text-darken-3">login</a></li>
                <li><a href="{{ path('security_register') }}" class="waves-effect waves-light btn white grey-text text-darken-3">register</a></li>
            {% endif %}

        </ul>
        <ul id="slide-out" class="sidenav">
            <li>
                <div style="height:20px;"></div>
            </li>
            <li><a href="#!">Accueil</a></li>
            <li><a href="#!">Exemple</a></li>
            <li><a href="#!">Contact</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">CodeBlessYou</a></li>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger menu">
            <i class="large material-icons">menu</i>
        </a>
    </div>
</nav>
<div class="container content">
    {% block body %}{% endblock %}
</div>



<footer class="page-footer grey darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Site de l'équipe CodeBlessYou</h5>
                <p class="white-text text-lighten-4">Site pour l'épreuve de web des 24H d'informatique 2018</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Liens</h5>
                <ul>
                    <li><a class="white-text" href="https://github.com/24h2018CodeBlessYou">Github</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            © 2018 Copyright CodeBlessYou
        </div>
    </div>
</footer>

<script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
<script src="{{ asset('js/materialize.js') }}"></script>
<script src="{{ asset('js/menu.js') }}"></script>

{% block javascripts %}{% endblock %}

</body>
</html>
