<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
<<<<<<< HEAD
        <link rel="stylesheet" href="{{ asset('css/materialize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
        <script src="{{ asset('js/materialize.js') }}"></script>
        <script src="{{ asset('js/menu.js') }}"></script>
=======

>>>>>>> c656235fed2c11718c48d44890786bc7253d708d
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav>
            <div class="nav-wrapper blue">
                <a href="#" class="brand-logo center">24h2k18</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="sass.html">Accueil</a></li>
                    <li><a href="badges.html">Exemple</a></li>
                    <li><a href="collapsible.html">Contact</a></li>
                </ul>
                <ul id="slide-out" class="sidenav">
                    <li>
                        <div style="height:20px;"></div>
                    </li>
                    <li><a href="#!">Accueil</a></li>
                    <li><a href="#!">Exemple</a></li>
                    <li><a href="#!">Contact</a></li>
                    <li><div class="divider"></div></li>
                    <li><a class="subheader">CodeBlessYou</a></li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><img class="material-icons icon_menu" width="40" src="{{ asset('img/menu_icon.svg') }}" /></a>
            </div>
        </nav>



        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <footer class="page-footer grey darken-2">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Site de l'équipe CodeBlessYou</h5>
                        <p class="white-text text-lighten-4">Site pour l'épreuve de web des 24H d'informatique 2018</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Liens</h5>
                        <ul>
                            <li><a class="white-text" href="https://github.com/24h2018CodeBlessYou">Github</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container center">
                    © 2018 Copyright CodeBlessYou
                </div>
            </div>
        </footer>
    </body>
</html>
